* {
    box-sizing: border-box;
}
.countdown {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    h1 {
        color: red;
        text-transform: uppercase;  
        letter-spacing: 5px;
        font-size: 70px;
    }
    .countdown-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .countdown-item {
            color: #111;
            font-size: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            line-height: 30px;
            margin: 10px;
            padding-top: 10px;
            width: 100px;
            height: 100px;
            span {
                color: #333;
                font-size: 12px;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
    }
}